<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>广东检验检疫（检务）网上培训系统后台管理系统</title>
<link href="../css/htlogin.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../datepicker/doTable.js"></script>
<script type="text/javascript" src="../FCKeditor/fckeditor.js"></script>
<script>
</script>
</head>
<body onload="getdata();">
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#D8F0FD">
      <tr>
        <td class="body01"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td background="../images/ht-body01.jpg" class="body02">当前位置：学习空间-培训教材-教材浏览</td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td class="body01"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="5" background="../images/ht-body02.jpg" class="body03">详细信息</td>
            </tr>
            <tr>
              <td  class="body06">上传用户：</td>
              <td  class="body04">admin</td>
              <td  class="body06">教材标题：</td>
              <td  class="body04" colspan="2">abcdef</td>
            </tr>
            <tr>
              <td rowspan="4" class="body06">相关文档：</td>
              <td  align="center"   class="body06" >序号</td>
              <td  class="body06" align="center">文件名</td>
              <td  class="body06" align="center">类型</td>
              <td  class="body06" align="center">大小</td>
            </tr>
            <tr id="filetype2" class="body06">
              <td align="center"  class="body06">001</td>
              <td  class="body06"><div align="center"><a href="#">天河公园</a></div></td>
              <td align="center"  class="body06">doc</td>
              <td align="center"  class="body06">1.5M</td>
            </tr>
            <tr id="filetype2" class="body06">
              <td align="center"   class="body06">002</td>
              <td   class="body06"><div align="center"><a href="#">四川发洪水</a></div></td>
              <td align="center"  class="body06">jpg</td>
              <td align="center"  class="body06">20K</td>
            </tr>
            <tr id="filetype2" class="body06">
              <td align="center"  class="body06">003</td>
              <td  class="body06"><div align="center"><a href="#">党的十七大</a></div></td>
              <td align="center"  class="body06">xls</td>
              <td align="center"  class="body06">3.0M</td>
            </tr>
            <tr>
              <td width="284" class="body06">分类专业：</td>
              <td colspan="4" class="body04">检务</td>
            </tr>
            <tr>
              <td width="284" class="body06">管理员评级：</td>
              <td class="body04" colspan="4">一星</td>
            </tr> 
            <tr>            
              <td width="284" class="body06">管理员评价：</td>
              <td class="body04" colspan="4"><textarea rows=4 cols=80>管理员评价可能有多行</textarea></td>
            </tr> 
	    <tr>
              <td width="284" class="body06">按语：</td>
              <td class="body04" colspan="4"><textarea rows=4 cols=80>按语也可能有多行</textarea> </td>
          </tr> 
            <tr>
              <td colspan="5" class="body03"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="71%" height="35">&nbsp;</td>
                    <td width="10%"><input type="image" src="../images/ht-but-back.jpg" name="Submit23" onclick="window.history.back(1);"/></td>
                  </tr>
              </table></td>
            </tr>
        </table></td>
 </tr>
<tr>
	<td class="body01"><table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#D8F0FD">
            <tr width="98%">
              <td colspan="2" background="../images/ht-body02.jpg" class="body03">批注</td>
            </tr>
            <tr>
              <td width="33%" align="center" class="body05">引用语句</td>
              <td width="33%" align="center" class="body05">批注</td>
            </tr>
            <tr>
              <td width="33%"  class="body03">13434</td>
              <td width="33%"  class="body03">afdasfadsf</td>
	    </tr>
            <tr>
              <td width="33%"  class="body03">6565546</td>
              <td width="33%"  class="body03">fasdfdsatwersdf</td>
	    </tr>
	</table><td>
</tr>

<tr>
	<td class="body01"><table width="100%" border="0" cellspacing="0" cellpadding="0">
           
            <tr>
              <td colspan="5" class="body03"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="100%" align="center">
	<input type="image" src="../images/ht-but-xtlx.jpg" name="Submit224" onclick="javascript:window.open('question.html');"/>
			</td>
                  </tr>
              </table></td>
            </tr>
        </table></td>
	</tr> 

</body>