<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>无标题文档</title>
<style>
body {
	margin:0 auto;
	padding:0;
	font-size:12px;
	color:#666;
	background-color:#FFF;
	font-family:Arial,"宋体";
}
* { margin: 0px; padding: 0px;}
form {
	margin:0px;
	padding:0px;
}
a:link {
	COLOR: #22397d; TEXT-DECORATION: none
}
a:visited {
	COLOR: #22397d; TEXT-DECORATION: none
}
a:hover {
	COLOR: #913000; TEXT-DECORATION: underline
}
.body01{
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	padding-left:22px;
}
.body02{
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #EDEDEB;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
}
.body03{
	height:25px;
	padding-left:8px;
	font-size:12px;
	color:#000066;
	text-align:left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EDEDEB;
	background-color:#F8F5F5;
}
.body04{
	height:25px;
	padding-left:8px;
	font-size:12px;
	color:#000066;
	text-align:left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EDEDEB;
	
}
.body05{
	height:35px;
	font-size:18px;
	font-weight:bolder;
	color:#000;
	text-align:center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EDEDEB;
	
}
.body06{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: ##EDEDEB;
}



.bottom {	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	text-align:center;
}
.time{ background-color:#00FFCC;}
</style>
</head>
<script>   
  var   alltime=20;   
  function   setTime(){   
  if   (alltime<=0){   
  if(confirm('你的得分为100'))
  {
	
	 window.close(); 
  }
  else
  {
	window.close();
  }
 
  clearInterval(s);   
  }   
  else{   
  alltime--;   
  m=Math.floor(alltime/60);   
  se=Math.round(alltime-(Math.floor(alltime/60)*60));  
  

  if(m>10)
  {
     time.style.background.color='green';
  }
  else
  {
     time.style.background.color='red';
  } 
    time.innerText="剩余"+m+"分"+se+"秒";  
   
  }   
  }   
  s=setInterval("setTime()",1000)   
  </script>  
<body topmargin="0" leftmargin="0">
<table width="779" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="../images/kstop.jpg" width="779" height="140" /></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="body01"><table width="756" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="body02 body03">当前位置：&gt;&gt; 在线考试</td>
      </tr>
      <tr>
        <td class="body02 body04">考试日期：[ 2007-10-10 ] &nbsp;| &nbsp; &nbsp;设定时间[ 100分钟 ]  &nbsp; |   &nbsp;&nbsp;剩余时间：[
            <label id='time'></label>
] (注意：试卷在规定时间到后自动提交，请及时答卷交卷) </td>
      </tr>
      <tr>
        <td class="body02 body05">广东检验检疫爱滋培训专试(2007-10-10)</td>
      </tr>
      <tr>
        <td align="center" class="body02 body06"><table cellspacing="0" cellpadding="0" align="center" border="0">
          <tbody>
            <tr>
              <td width="149">&nbsp;</td>
              <td width="1" bgcolor="#EDEDEB"></td>
              <td width="20">&nbsp;</td>
              <td width="430">&nbsp;</td>
            </tr>
            <tr>
              <td valign="bottom" width="149"><table cellspacing="0" cellpadding="0" width="130" align="right" 
                  border="0">
                  <tbody>
                    <tr>
                      <td><div align="center"></div></td>
                      <td class="kaos"><div align="center">A</div></td>
                      <td class="kaos"><div align="center">B</div></td>
                      <td class="kaos"><div align="center">C</div></td>
                      <td class="kaos"><div align="center">D</div></td>
                    </tr>
                    <tr>
                      <td><div class="wenzi" align="center">1.</div></td>
                      <td><div align="center">
                          <table>
                            <tbody>
                              <tr>
                                <td><input type="radio" value="A" 
                              name="ques_000000018174" /></td>
                              </tr>
                            </tbody>
                          </table>
                      </div></td>
                      <td><div align="center">
                          <table>
                            <tbody>
                              <tr>
                                <td><input type="radio" value="B" 
                              name="ques_000000018174" /></td>
                              </tr>
                            </tbody>
                          </table>
                      </div></td>
                      <td><div align="center">
                          <table>
                            <tbody>
                              <tr>
                                <td><input type="radio" value="C" 
                              name="ques_000000018174" /></td>
                              </tr>
                            </tbody>
                          </table>
                      </div></td>
                      <td><div align="center">
                          <table>
                            <tbody>
                              <tr>
                                <td><input type="radio" value="D" 
                              name="ques_000000018174" /></td>
                              </tr>
                            </tbody>
                          </table>
                      </div></td>
                    </tr>
                  </tbody>
              </table></td>
              <td width="1" bgcolor="#EDEDEB"></td>
              <td width="20">&nbsp;</td>
              <td width="430"><table cellspacing="0" cellpadding="0" width="420" border="0">
                  <tbody>
                    <tr>
                      <td class="zhengwen" align="left">001.1955年经血清学证实禽流感病毒是一种：（ ）</td>
                    </tr>
                    <tr>
                      <td class="zhengwen" align="left">A. A型流感病毒<br />
                        B. B型流感病毒<br />
                        C. 滤过性病毒<br />
                        D. 真性病毒</td>
                    </tr>
                  </tbody>
              </table></td>
            </tr>
          </tbody>
        </table>
          <table cellspacing="0" cellpadding="0" align="center" border="0">
            <tbody>
              <tr>
                <td width="149">&nbsp;</td>
                <td width="1" bgcolor="#EDEDEB"></td>
                <td width="20">&nbsp;</td>
                <td width="430">&nbsp;</td>
              </tr>
              <tr>
                <td valign="bottom" width="149"><table cellspacing="0" cellpadding="0" width="130" align="right" 
                  border="0">
                    <tbody>
                      <tr>
                        <td><div align="center"></div></td>
                        <td class="kaos"><div align="center">A</div></td>
                        <td class="kaos"><div align="center">B</div></td>
                        <td class="kaos"><div align="center">C</div></td>
                        <td class="kaos"><div align="center">D</div></td>
                      </tr>
                      <tr>
                        <td><div class="wenzi" align="center">2.</div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="A" 
                              name="ques_000000018177" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="B" 
                              name="ques_000000018177" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="C" 
                              name="ques_000000018177" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="D" 
                              name="ques_000000018177" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                      </tr>
                    </tbody>
                </table></td>
                <td width="1" bgcolor="#EDEDEB"></td>
                <td width="20">&nbsp;</td>
                <td width="430"><table cellspacing="0" cellpadding="0" width="420" border="0">
                    <tbody>
                      <tr>
                        <td class="zhengwen" align="left">002.禽流感的传染源主要是：（ ）</td>
                      </tr>
                      <tr>
                        <td class="zhengwen" align="left">A. 病人<br />
                          B. 禽类动物<br />
                          C. 家畜<br />
                          D. 果子狸</td>
                      </tr>
                    </tbody>
                </table></td>
              </tr>
            </tbody>
          </table>
          <table cellspacing="0" cellpadding="0" align="center" border="0">
            <tbody>
              <tr>
                <td width="149">&nbsp;</td>
                <td width="1" bgcolor="#EDEDEB"></td>
                <td width="20">&nbsp;</td>
                <td width="430">&nbsp;</td>
              </tr>
              <tr>
                <td valign="bottom" width="149"><table cellspacing="0" cellpadding="0" width="130" align="right" 
                  border="0">
                    <tbody>
                      <tr>
                        <td><div align="center"></div></td>
                        <td class="kaos"><div align="center">A</div></td>
                        <td class="kaos"><div align="center">B</div></td>
                        <td class="kaos"><div align="center">C</div></td>
                        <td class="kaos"><div align="center">D</div></td>
                      </tr>
                      <tr>
                        <td><div class="wenzi" align="center">3.</div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="A" 
                              name="ques_000000018178" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="B" 
                              name="ques_000000018178" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="C" 
                              name="ques_000000018178" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="D" 
                              name="ques_000000018178" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                      </tr>
                    </tbody>
                </table></td>
                <td width="1" bgcolor="#EDEDEB"></td>
                <td width="20">&nbsp;</td>
                <td width="430"><table cellspacing="0" cellpadding="0" width="420" border="0">
                    <tbody>
                      <tr>
                        <td class="zhengwen" align="left">003.禽流感的传播途径有：</td>
                      </tr>
                      <tr>
                        <td class="zhengwen" align="left">A. 直接接触<br />
                          B. 气溶胶<br />
                          C. 间接接触<br />
                          D. 以上都是</td>
                      </tr>
                    </tbody>
                </table></td>
              </tr>
            </tbody>
          </table>
          <table cellspacing="0" cellpadding="0" align="center" border="0">
            <tbody>
              <tr>
                <td width="149">&nbsp;</td>
                <td width="1" bgcolor="#EDEDEB"></td>
                <td width="20">&nbsp;</td>
                <td width="430">&nbsp;</td>
              </tr>
              <tr>
                <td valign="bottom" width="149"><table cellspacing="0" cellpadding="0" width="130" align="right" 
                  border="0">
                    <tbody>
                      <tr>
                        <td><div align="center"></div></td>
                        <td class="kaos"><div align="center">A</div></td>
                        <td class="kaos"><div align="center">B</div></td>
                        <td class="kaos"><div align="center">C</div></td>
                        <td class="kaos"><div align="center">D</div></td>
                      </tr>
                      <tr>
                        <td><div class="wenzi" align="center">4.</div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="A" 
                              name="ques_000000018193" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="B" 
                              name="ques_000000018193" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="C" 
                              name="ques_000000018193" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="D" 
                              name="ques_000000018193" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                      </tr>
                    </tbody>
                </table></td>
                <td width="1" bgcolor="#EDEDEB"></td>
                <td width="20">&nbsp;</td>
                <td width="430"><table cellspacing="0" cellpadding="0" width="420" border="0">
                    <tbody>
                      <tr>
                        <td class="zhengwen" align="left">004.禽流感的病理组织学表现以（ ）为突出特征</td>
                      </tr>
                      <tr>
                        <td class="zhengwen" align="left">A. 淋巴细胞综合症<br />
                          B. 血细胞减少<br />
                          C. 血细胞增多<br />
                          D. 反应性噬血细胞综合症</td>
                      </tr>
                    </tbody>
                </table></td>
              </tr>
            </tbody>
          </table>
          <table cellspacing="0" cellpadding="0" align="center" border="0">
            <tbody>
              <tr>
                <td width="149">&nbsp;</td>
                <td width="1" bgcolor="#EDEDEB"></td>
                <td width="20">&nbsp;</td>
                <td width="430">&nbsp;</td>
              </tr>
              <tr>
                <td valign="bottom" width="149"><table cellspacing="0" cellpadding="0" width="130" align="right" 
                  border="0">
                    <tbody>
                      <tr>
                        <td><div align="center"></div></td>
                        <td class="kaos"><div align="center">A</div></td>
                        <td class="kaos"><div align="center">B</div></td>
                        <td class="kaos"><div align="center">C</div></td>
                        <td class="kaos"><div align="center">D</div></td>
                      </tr>
                      <tr>
                        <td><div class="wenzi" align="center">5.</div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="A" 
                              name="ques_000000018191" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="B" 
                              name="ques_000000018191" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="C" 
                              name="ques_000000018191" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="D" 
                              name="ques_000000018191" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                      </tr>
                    </tbody>
                </table></td>
                <td width="1" bgcolor="#EDEDEB"></td>
                <td width="20">&nbsp;</td>
                <td width="430"><table cellspacing="0" cellpadding="0" width="420" border="0">
                    <tbody>
                      <tr>
                        <td class="zhengwen" align="left">005.禽流感潜伏期一般在（ ）天之内</td>
                      </tr>
                      <tr>
                        <td class="zhengwen" align="left">A. 7<br />
                          B. 8<br />
                          C. 9<br />
                          D. 10</td>
                      </tr>
                    </tbody>
                </table></td>
              </tr>
            </tbody>
          </table>
          <table cellspacing="0" cellpadding="0" align="center" border="0">
            <tbody>
              <tr>
                <td width="149">&nbsp;</td>
                <td width="1" bgcolor="#EDEDEB"></td>
                <td width="20">&nbsp;</td>
                <td width="430">&nbsp;</td>
              </tr>
              <tr>
                <td valign="bottom" width="149"><table cellspacing="0" cellpadding="0" width="130" align="right" 
                  border="0">
                    <tbody>
                      <tr>
                        <td><div align="center"></div></td>
                        <td class="kaos"><div align="center">A</div></td>
                        <td class="kaos"><div align="center">B</div></td>
                        <td class="kaos"><div align="center">C</div></td>
                        <td class="kaos"><div align="center">D</div></td>
                      </tr>
                      <tr>
                        <td><div class="wenzi" align="center">6.</div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="A" 
                              name="ques_000000018176" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="B" 
                              name="ques_000000018176" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="C" 
                              name="ques_000000018176" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="D" 
                              name="ques_000000018176" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                      </tr>
                    </tbody>
                </table></td>
                <td width="1" bgcolor="#EDEDEB"></td>
                <td width="20">&nbsp;</td>
                <td width="430"><table cellspacing="0" cellpadding="0" width="420" border="0">
                    <tbody>
                      <tr>
                        <td class="zhengwen" align="left">006.下面说法正确的是：（ ）</td>
                      </tr>
                      <tr>
                        <td class="zhengwen" align="left">A. 禽流感病毒对热不敏感<br />
                          B. 禽流感病毒对有机溶剂敏感，常用消毒剂容易将其灭活<br />
                          C. 禽流感病毒抗低温能力弱<br />
                          D. 紫外线照射不能破坏禽流感病毒的传染性</td>
                      </tr>
                    </tbody>
                </table></td>
              </tr>
            </tbody>
          </table>
          <table cellspacing="0" cellpadding="0" align="center" border="0">
            <tbody>
              <tr>
                <td width="149">&nbsp;</td>
                <td width="1" bgcolor="#EDEDEB"></td>
                <td width="20">&nbsp;</td>
                <td width="430">&nbsp;</td>
              </tr>
              <tr>
                <td valign="bottom" width="149"><table cellspacing="0" cellpadding="0" width="130" align="right" 
                  border="0">
                    <tbody>
                      <tr>
                        <td><div align="center"></div></td>
                        <td class="kaos"><div align="center">A</div></td>
                        <td class="kaos"><div align="center">B</div></td>
                        <td class="kaos"><div align="center">C</div></td>
                        <td class="kaos"><div align="center">D</div></td>
                      </tr>
                      <tr>
                        <td><div class="wenzi" align="center">7.</div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="A" 
                              name="ques_000000018175" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="B" 
                              name="ques_000000018175" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="C" 
                              name="ques_000000018175" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="D" 
                              name="ques_000000018175" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                      </tr>
                    </tbody>
                </table></td>
                <td width="1" bgcolor="#EDEDEB"></td>
                <td width="20">&nbsp;</td>
                <td width="430"><table cellspacing="0" cellpadding="0" width="420" border="0">
                    <tbody>
                      <tr>
                        <td class="zhengwen" 
                        align="left">007.常见病毒亚型命名，如H1N1中，H和N分别指的是：（ ）</td>
                      </tr>
                      <tr>
                        <td class="zhengwen" align="left">A. 红细胞凝集素和融合酶<br />
                          B. 红细胞凝集原和血凝素<br />
                          C. 红细胞凝集素和神经氨酸酶<br />
                          D. 红细胞凝集原和神经氨酸酶</td>
                      </tr>
                    </tbody>
                </table></td>
              </tr>
            </tbody>
          </table>
          <table cellspacing="0" cellpadding="0" align="center" border="0">
            <tbody>
              <tr>
                <td width="149">&nbsp;</td>
                <td width="1" bgcolor="#EDEDEB"></td>
                <td width="20">&nbsp;</td>
                <td width="430">&nbsp;</td>
              </tr>
              <tr>
                <td valign="bottom" width="149"><table cellspacing="0" cellpadding="0" width="130" align="right" 
                  border="0">
                    <tbody>
                      <tr>
                        <td><div align="center"></div></td>
                        <td class="kaos"><div align="center">A</div></td>
                        <td class="kaos"><div align="center">B</div></td>
                        <td class="kaos"><div align="center">C</div></td>
                        <td class="kaos"><div align="center">D</div></td>
                      </tr>
                      <tr>
                        <td><div class="wenzi" align="center">8.</div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="A" 
                              name="ques_000000018192" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="B" 
                              name="ques_000000018192" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="C" 
                              name="ques_000000018192" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="D" 
                              name="ques_000000018192" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                      </tr>
                    </tbody>
                </table></td>
                <td width="1" bgcolor="#EDEDEB"></td>
                <td width="20">&nbsp;</td>
                <td width="430"><table cellspacing="0" cellpadding="0" width="420" border="0">
                    <tbody>
                      <tr>
                        <td class="zhengwen" align="left">008.禽流感最常见的临床表现是：（ ）</td>
                      </tr>
                      <tr>
                        <td class="zhengwen" align="left">A. 眼结膜炎和低热<br />
                          B. 口角炎和高热<br />
                          C. 眼结膜炎和高热<br />
                          D. 口角炎和低热</td>
                      </tr>
                    </tbody>
                </table></td>
              </tr>
            </tbody>
          </table>
          <table cellspacing="0" cellpadding="0" align="center" border="0">
            <tbody>
              <tr>
                <td width="149">&nbsp;</td>
                <td width="1" bgcolor="#EDEDEB"></td>
                <td width="20">&nbsp;</td>
                <td width="430">&nbsp;</td>
              </tr>
              <tr>
                <td valign="bottom" width="149"><table cellspacing="0" cellpadding="0" width="130" align="right" 
                  border="0">
                    <tbody>
                      <tr>
                        <td><div align="center"></div></td>
                        <td class="kaos"><div align="center">A</div></td>
                        <td class="kaos"><div align="center">B</div></td>
                        <td class="kaos"><div align="center">C</div></td>
                        <td class="kaos"><div align="center">D</div></td>
                      </tr>
                      <tr>
                        <td><div class="wenzi" align="center">9.</div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="A" 
                              name="ques_000000018195" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="B" 
                              name="ques_000000018195" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="C" 
                              name="ques_000000018195" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="D" 
                              name="ques_000000018195" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                      </tr>
                    </tbody>
                </table></td>
                <td width="1" bgcolor="#EDEDEB"></td>
                <td width="20">&nbsp;</td>
                <td width="430"><table cellspacing="0" cellpadding="0" width="420" border="0">
                    <tbody>
                      <tr>
                        <td class="zhengwen" align="left">009.全球首例由禽流感病毒引发的人间病例出现在（ ）</td>
                      </tr>
                      <tr>
                        <td class="zhengwen" align="left">A. 苏格兰<br />
                          B. 意大利<br />
                          C. 墨西哥<br />
                          D. 香港</td>
                      </tr>
                    </tbody>
                </table></td>
              </tr>
            </tbody>
          </table>
          <table cellspacing="0" cellpadding="0" align="center" border="0">
            <tbody>
              <tr>
                <td width="149">&nbsp;</td>
                <td width="1" bgcolor="#EDEDEB"></td>
                <td width="20">&nbsp;</td>
                <td width="430">&nbsp;</td>
              </tr>
              <tr>
                <td valign="bottom" width="149"><table cellspacing="0" cellpadding="0" width="130" align="right" 
                  border="0">
                    <tbody>
                      <tr>
                        <td><div align="center"></div></td>
                        <td class="kaos"><div align="center">A</div></td>
                        <td class="kaos"><div align="center">B</div></td>
                        <td class="kaos"><div align="center">C</div></td>
                        <td class="kaos"><div align="center">D</div></td>
                      </tr>
                      <tr>
                        <td><div class="wenzi" align="center">10.</div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="A" 
                              name="ques_000000018194" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="B" 
                              name="ques_000000018194" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="C" 
                              name="ques_000000018194" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                        <td><div align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" value="D" 
                              name="ques_000000018194" /></td>
                                </tr>
                              </tbody>
                            </table>
                        </div></td>
                      </tr>
                    </tbody>
                </table></td>
                <td width="1" bgcolor="#EDEDEB"></td>
                <td width="20">&nbsp;</td>
                <td width="430"><table cellspacing="0" cellpadding="0" width="420" border="0">
                    <tbody>
                      <tr>
                        <td class="zhengwen" align="left">010.近年来大部分禽流感的爆发都与（ ）亚型有关</td>
                      </tr>
                      <tr>
                        <td class="zhengwen" align="left">A. H2和H5<br/>
                          B. H5和H7<br />
                          C. H3和H7<br />
                          D. H2和H3</td>
                      </tr>
                    </tbody>
                </table></td>
              </tr>
            </tbody>
          </table></td>
      </tr>
      <tr>
        <td height="35" align="center" valign="middle" class="body02 body06"><table width="200" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100" align="center"><input type="submit" name="Submit" value="提交答卷" /></td>
            <td width="100" align="center"><input type="submit" name="Submit2" value=" 关 闭 " /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="49" align="center" valign="middle" class="body02 body06">广东检验检疫（检务）网上培训系统版权所有 粤ICP备12345678号 </td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>

